.navbar{
    max-width: 120em;
    margin: 3em auto;
}
.uvod{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
.uvod div{
    text-align: left;
}
.uvod__popis{
    align-items: flex-start;
}
.uvod__tlacitko{
    margin: 0 1em;
}
.vyhody__kolecka{
    grid-template-columns: repeat(4, 1fr);
}
.vyhody__obr{
    padding: 2.5em;
}
.vyhody__obdelniky--slide{
    max-width: 1312px;
}
.obdelniky--slide1, .obdelniky--slide2{
    grid-template-columns: repeat(4, 1fr);
}
.box__text{
    max-width: 50em;
}
.recenze{
    grid-template-areas:
    "nazev nazev nazev"
    "misa beta anca"
    "button button button";
}
.aktuality{
    display: grid;
    grid-template-areas: 
    "aknaz aknaz"
    "akmod aksle";
}
.aktuality__nazev{
    grid-area: aknaz;
}
.aktuality__sleva{
    grid-area: aksle;
}
.aktuality__modul{
    grid-area: akmod;
}
.paticka>div{
    max-width: 1270px;
}
/*funkce*/
.funkce__obdelnik{
    grid-template-columns: repeat(4, 1fr);
    max-width: 1750px;
    margin: 0 auto;
    margin: 0 1em;
}
/*kontak*/
.kontakt{
    display: grid;
    grid-template-areas: 
    "nazev . . ."
    "box mapa mapa mapa";
    margin-right: 1em;
}
.kontakt__nazev{
    grid-area: nazev;
}
.kontakt__box{
    grid-area: box;
    display: block;
}
.kontakt__mapa{
    grid-area: mapa;
    margin-right: 1em;
}