:root{
  --hlavička:#F5F5F5;
  --butt:#F5841F;
  --butt_text:#ffffff;
  --výhody:#8ECAE6;
  --prerus-cara:#68DBFF;
  --text:#000000;
  --cara: #D9D9D9;
  --hower:#16213C;
  --tx-foot:#8ECAE6;
  --vyh-res-bg:rgba(142, 202, 230, 0.12);
  --nadpis:#16213C;
  --text-index: #16213C;
  --vodorcara: #EFEFEF;
  --figcap:#2D4275;
  --obd:#ffffff;
  --paticka:#16213C;
  --funkce__obdelnik:#E7E7E7;
}
html, a{
  font-family: 'Hanken Grotesk', sans-serif;
  color:var(--text-index) ;
  text-decoration: none;
}
h1, h2, h3, h4, h5{
  font-weight: 800;
  color: var(--nadpis);
  text-align: center;
}
h1{
  font-size: 2em;
  line-height: 3.5em;
}
.h1-or{
  color: var(--butt);
}
span{
  color: var(--butt);
}
h2{
  font-size: 1.75em;
}
h5{
  font-size: 1.1em;
  line-height: 1.4em;
  text-align: left;
}
.obdelnikfce__nazev{
  color: var(--butt);
}
.obdelnikfce__nazev:hover{
  color: var(--nadpis); 
}
h4{
  font-size: 1.25em;
  line-height: 1.6em;
}
.hlavicka{
  background-color: var(--hlavička);
  height: 3em;
  width: auto;
}
.hlavicka__kontakt{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5em;
}
.mobil::before{
  content: url(../icon/ico_head_telephone.svg);
  padding-right: 0.5em;
  vertical-align: middle;
}
.mail::before{
  content: url(../icon/ico_head_email.svg);
  padding-right: 1em;
  vertical-align: middle;
}
.uzivatel::before{
  content: url(../icon/ico_head_uzivatel.svg);
  margin-right: 0.5em;
  padding-right: 1em;
  vertical-align: middle;
  display: inline-block;
  width: 10px;
}
.button{
  background-color: var(--butt);
  color: var(--butt_text);
  width: fit-content;
  border-radius: 2em;
  padding: 0.75em 1.5em;
  margin: 0 auto;
  margin-bottom: 1em;
}
.buttonOR{
background-color: var(--butt_text);
border: 4px solid var(--butt);
}
.button__text{
  color: var(--butt_text);
  text-decoration: none;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.3em;
}
.button__text--cerny{
color: var(--text);
}
.button:hover{
background-color: var(--hower);
}
.button__text--cerny:hover, .buttonOR__text--cerny:hover{
color: var(--butt_text);
}
.buttonOR:hover{
border: 4px solid var(--hower);
color: var(--butt_text);
}

.recenze__popis, .osoba__popis{
width: 257px;
height: 68px;
font-weight: 400;
line-height: 1.3em;
text-align: left;
overflow: hidden;
color: var(--text);
}
figure{
  margin: 0;
}
.img-responsive{
  width: 100%;
  object-fit: cover;
  display: block;
}
.vyhody__obr{
  background-color: var(--hower);
  padding: 2.5em;
  border-radius: 100%;
  margin: 3.25em 0 ;
}
.vyhody__obdelniky{
padding-top: 1.5em;
border-top: dashed 2px var(--prerus-cara);
}
.obdelnik:hover, .obdelnik__nazev:hover{
color: var(--hower);
cursor: pointer;
}
.obdelnik__nazev{
color: var(--butt);
}
.dotazy{
background-color: var(--butt_text);
}
.puntiky{
margin: 0 auto;
margin-bottom: 2.4em;
}
.puntiky__modry{
  content: url(../icon/Ellipse-37M.svg);
}
.puntiky__bily{
  content: url(../icon/Ellipse-35B.svg);
}
.puntiky__bily, .puntiky__modry{
  width: 10px;
  height: 10px;
}
.puntiky__bily:hover, .puntiky__modry:hover{
  transform: scale(2, 2);
  transition: transform 1s;
}
.vyhody__obdelniky--slide{
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.obdelniky--slide1, .obdelniky--slide2{
 position: relative;
 flex: 0 0 100%;
}
figcaption{
  font-weight: 700;
  font-size: 1em;
  line-height: 1.3em;
  text-align: center;
  color: var(--figcap);
  padding: 2em;
}

.aktuality{
background-color: var(--hlavička);
padding: 0 1em 2.5em;
}
.aktuality__modul::before{
content: url(../icon/Frame-68.svg);
}
.aktuality__sleva::before{
content: url(../icon/Frame-73.svg);
}
.aktuality__modul, .aktuality__sleva, .aktuality__modul h4, .aktuality__sleva h4{
text-align: left;
}
.aktuality__modul h4, .aktuality__sleva h4{
margin-top: 1.25em;
}
.aktuality__modul p, .aktuality__sleva p{
margin: 0;
}
.recenze{
border-top: solid 2px var(--cara);
}
.paticka{
background-color: var(--paticka);
color: var(--tx-foot);
margin: 0 auto;
}
.youtube{
content: url(../icon/ico_foot_youtube.svg);
width: 18px;
height: 18px;
padding-right: 1em;
margin: 0;
padding-left: 0;
}
.linkedin{
content: url(../icon/ico_foot_linkedin.svg);
width: 18px;
height: 18px;
}
.paticka__logo{
text-align: center;
padding: 1em 0;
}
.paticka__adresa{
text-align: left;
display: flex;
justify-content: center;
font-weight: 400;
line-height: 1.3em;
margin-bottom: 1em;
}
.paticka__kontakt{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.paticka__kontakt ul{
list-style: none;
font-weight: 400;
font-size: 1em;
line-height: 1.3em;
margin: 0 auto;
padding-left: 0;
}
.paticka__kontakt a{
text-align: center;
margin: 0 auto;
color: var(--tx-foot);
text-decoration: none;
}
.paticka-kontakt__mail .paticka-kontakt__mobil{
padding-left: 0;
}
.paticka__videotut a{
text-align: left;
text-decoration: none;
color: var(--tx-foot);
}
.paticka__podpora a{
text-align: left;
text-decoration: none;
color: var(--tx-foot);
}
.paticka__odkazy{
display: flex;
flex-direction: column;
align-items: center;
}
.paticka__menu a{
text-align: left;
text-decoration: none;
color: var(--tx-foot);
list-style: none;
}
.paticka__menu ul, .paticka__videotut ul, .paticka__podpora ul{
font-weight: 400;
font-size: 1em;
line-height: 1.3em;
list-style: none;
padding-left: 0;
}
.paticka__menu h3, .paticka__videotut h3, .paticka__podpora h3{
font-weight: 800;
font-size: 1.3em;
line-height: 1.8em;
text-align: left;
}
.paticka__zahlavi{
padding-top: 0.6em;
border-top: solid 2px var(--tx-foot);
margin: 1em 0.53em 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.paticka__zahlavi > p{
color: var(--tx-foot);
text-align: center;
}
.paticka__menu a:hover{
text-decoration: underline;
}
.povinny-nadpis{
display: none;
}