:root{
    --hlavička:#D9D9D9;
    --butt:#F5841F;
    --butt_text:#ffffff;
    --výhody:#8ECAE6;
    --text:#000000;
    --cara: #D9D9D9;
}
p{
    font-family: 'Hanken Grotesk', sans-serif;
}
h1{
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 56px;
    text-align: center;
}
.hlavicka{
    background-color: var(--hlavička);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 48px;
    width: auto;
    gap: 45px;
    justify-content: space-between;
}
.hlavicka__kontakt{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.mobil::before{
    content: url(../icon/ico_head_telephone.svg);
 }
 .mail::before{
     content: url(../icon/ico_head_email.svg);
 }
 .uzivatel::before{
     content: url(../icon/ico_head_uzivatel.svg);
 }
 .hlavicka__kontakt>a, .hlavicka__prihlaseni>a{
    color: var(--text);
    font-weight: 700;
    font-size: 9px;
    text-decoration: none;
}
.kontakt__mobil{
    border-right: solid 1px var(--cara);
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.button{
    background-color: var(--butt);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--butt_text);
    width: fit-content;
    border-radius: 30px;
    padding: 12px 24px;
}
.button__text{
    color: var(--butt_text);
    text-decoration: none;
}