.hlavicka__prihlaseni>a, .hlavicka__kontakt>a{
    font-size: 17px;
}
.reklama{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.vyhody__kolecka{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.vyhody__obr {
    padding: 20px;
}
.vyhody__obdelniky{
    margin: 0 2em;
    display: grid;
    grid-template-areas:
    "obdelnik1 obdelnik2"
    "obdelnik3 obdelnik4"
    "puntik puntik"
    "button button";
}
.obdelnik1{
    grid-area: obdelnik1;
}
.obdelnik2{
    grid-area: obdelnik2;
}
.obdelnik3{
    grid-area: obdelnik3;
}
.obdelnik4{
    grid-area: obdelnik4;
}
.puntiky{
    grid-area: puntik;
}
.button{
    grid-area: button;
}
.pribeh__nadpis{
    text-align: left;
    margin: 0 4em;
}
.pribeh__text{
    text-align: left;
    text-align:justify;
    margin: 0 4em;
}
.button--pribeh{
    margin: 1em 4em;
}
.recenze > article{
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}
.recenze > article:last-child{
    margin: 3em 0 0;
}
.paticka{
    display: grid;
    grid-template-areas:
        "sloupek odkazy odkazy"
        "zahlavi zahlavi zahlavi";
}
.paticka__logo{
    text-align: left;
    padding-left: 4em;
    width: fit-content;
}
.paticka__adresa, .paticka__kontakt{
    display: block;
    padding-left: 4em;
    width: fit-content;
}
.paticka__sloupek{
    grid-area: sloupek;
    width: fit-content;
}
.paticka__odkazy{
    grid-area: odkazy;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 4em;
}
.paticka__zahlavi{
    grid-area: zahlavi;
}
/*funkce*/
.str-kontakt__box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
.str-kontakt__nazev{
    text-align: left;
    margin: 1em 3em;
}
.str-kontakt__text{
    text-align: left;
    margin: 1em 4em;
}
.funkce__obdelnik{
    grid-template-columns: repeat(2, 1fr);
    margin: 0 1em;
}
.obdelnikfce{
    box-shadow: 1px 5px 10px 5px var(--cara);
}
/*kontakt*/
.str-kontakt{
    text-align: left;
}
.str-kontakt>div{
    margin-left: 1.5em;
}
.str-kontakt__nazev{
    margin: 1em 1.5em;
}