.hlavicka__prihlaseni>a, .hlavicka__kontakt>a{font-size: 1em;}
.reklama{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.vyhody__kolecka{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 50em;
    margin: 1em auto;
}
.vyhody__cara{max-width: 640px;}
.vyhody__obr {padding: 1.25em;}
.obdelniky--slide1, .obdelniky--slide2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.vyhody__obdelniky--slide{margin: 0 0.5em;}
.box__nadpis{
    text-align: left;
    margin: 0 4em;
}
.box__text{
    text-align: left;
    text-align:justify;
    margin: 0 4em;
}
.button--pribeh{margin: 1em 4em;}
.recenze > article{
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}
.recenze > article:last-child{margin: 3em 0 0;}
.aktuality__modul div, .aktuality__sleva div{max-width: 35em;}
.aktuality__modul .aktuality__sleva{justify-content: center;}
.paticka>div{
    display: grid;
    grid-template-areas:
        "sloupek odkazy odkazy"
        "zahlavi zahlavi zahlavi";
    margin: 0 auto;
}
.sloupek__logo{
    text-align: left;
    padding-left: 4em;
    width: fit-content;
}
.sloupek__adresa, .sloupek__kontakt{
    display: block;
    padding-left: 4em;
    width: fit-content;
}
.paticka__sloupek{
    grid-area: sloupek;
    width: fit-content;
}
.paticka__odkazy{
    grid-area: odkazy;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 4em;
}
.paticka__zahlavi{
    grid-area: zahlavi;
    flex-direction: row;
    justify-content: space-between;
}
/*funkce*/
.nazev-sekce{margin: 0 0 0 1em;}
.sekce-cesta{margin-left: 2em;}
.str-kontakt__box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 3em;
}
.str-kontakt__nazev{
    text-align: left;
    margin: 1em 3em;
}
.kbox__text{text-align: left;}
figure{text-align: center;}
.kbox__popis{padding: 1em 2em;}
.funkce__obdelnik{
    grid-template-columns: repeat(2, 1fr);
    margin: 0 1em;
    border-radius: 2em;
}
.obdelnikfce{box-shadow: 1px 5px 10px 5px var(--cara);}
/*kontakt*/
.kontakt{text-align: left;}
.kontakt>div{margin-left: 4em;}
.kontakt__nazev{margin: 1em 2.5em;}