.hlavicka{justify-content: space-around;}
.hamburger-row{display: none;}
.menu-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2em;
}
.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    margin: 3em 0;
}
.hamburger-nav{transform: none;}
.hamburger-nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hamburger-nav li{
    font-size: 1.25em;
    background-color: var( --butt_text);
}
.hamburger-nav li a{color: var(--text);}
.hamburger-nav li:hover a{font-weight: 800;}
.selected{border-bottom: solid 0.25em var(--butt);}
.hamburger-nav li:last-child{
    background-color: var(--butt);
    border-radius: 30px;
    padding: 0.75em 1.5em;
    margin-left: 0.5em;
}
.hamburger-nav li:last-child:hover{background-color: var(--hower);}
.hamburger-nav li:last-child a{color: var(--butt_text);}
.hamburger-nav li:nth-child(5){border-right: 2px solid var(--cara);}
.vyhody__obdelniky--slide{
    max-width: 690px;
    margin: 0 auto;
}
.pribeh__box{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 1em 0 2em;
}
.box__text{max-width: 30em;}
.pribeh__obr{
    padding: 0;
    margin-right: 2.5em;
}
.recenze{
    display: grid;
    grid-template-areas: 
    "nazev nazev"
    "misa beta"
    "anca ."
    "button button";
}
.recenze__nazev{grid-area: nazev;}
.recenze__box--misa{grid-area: misa;}
.recenze__box--beta{grid-area: beta;}
.recenze__box--ance{grid-area: anca;}
.recenze__button{grid-area: button;}
/*funkce*/
.nazev-sekce{margin: 0 0 0 2em;}
.sekce-cesta{margin-left: 4em;}
.funkce__obdelnik{grid-template-columns: repeat(3, 1fr);}
.kbox__odkaz{margin-top: -3em;}
/*kontakt*/
.kontakt__nazev{
    font-size: 2em;
    text-align: left;
}
.konbox__podnadpis{font-size: 1.25em;}
.kontakt>div{margin-left: 4em;}